
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    
}

body {
    background-color: rgb(214, 224, 235);
}

nav {
    
}

.upper {
    /* width: 100%;
    
    background: #eceaff;
    color: #525252; */

    background: #1a1a1a;
    width: 100%;
    padding: 15px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav {
    /* text-align: right;
    color: aliceblue;
    font-size:18px;
    float: right; */

    
}



nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

.title {
    text-align: center;
    font-size: 24;
}

#headshot {
    border-radius: 50%;
    height: 200px;
}

#homeHeader {
    color: aliceblue;
    margin: 0px;
    border: 0px;
}

#residence {
    margin: 0px;
    border: 0px;
}

#pages {

}